<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Computer Graphics Demos!</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="/proj-1">Proj 1</a>
      </li>
      <li>
        <a href="/proj-2">Proj 2</a>
      </li>
      <li>
        <a href="/proj-3">Proj 3</a>
      </li>
      <li>
        <a href="/midterm">Midterm (maze)</a>
      </li>
    </ul>
  </body>
</html>
