body {
  background: #ece7da;
  color: #151515;
  font-family: "Vollkorn", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

button,
select {
  font-family: "Vollkorn", serif;
  font-size: 1em;
  background: #d2cdbe;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 0.4em 0.5em;
}

button,
select {
  cursor: pointer;
  transition: background 0.2s ease;
}

:is(button, select):is(:hover, :focus):not(:disabled) {
  background: #bbb298;
}

:is(button, select):is(:disabled) {
  opacity: 0.5;
  cursor: not-allowed;
}

input {
  padding: 0.4em 0.5em;
}
